<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Grocery Items</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:switch="${items}">
            <h2 th:case="null">No items yet!</h2>
            <div th:case="*">
                <h2>Items</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Category</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${item.category}"></td>
                        <td><a th:href="@{/edit/{id}(id=${item.id})}">Edit</a></td>
                        <td><a th:href="@{/delete/{id}(id=${item.id})}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/signup">Add a new item</a></p>
        </div>
    </body>
</html>
